.insruction {
    padding: 128px 100px 0;
    background-color: #F8FAFC;
}

.insruction-title-wrapper {
    text-align: center;
    margin-bottom: 64px;
}

.instruction-block {
    display: grid;
    grid-template-columns: 738px 738px 738px;
    grid-template-rows: 796px;
    column-gap: 64px;
}

.instruction-step {
    background: #FFF;
    border: 1px solid #DFE7EF;
    border-radius: 8px;
    padding: 32px 16px;
 }

.instruction-number {
    display: inline-block;
    color: #334155;
    font-family: Manrope;
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
}

.instruction-title {
    display: inline-block;
    color: #334155;
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.instruction-content {
    justify-content: center;
    width: 706px;
    height: 558px;
    background-color: #F7F3F3;
}

.instruction-content-text {
    color: #334155;
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
}

.instruction-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}
  
.instruction-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93px;
    height: 42px;
    padding: 7px 10px;
    border-radius: 8px;
    background: #08AD8F;
    border: 2px solid #08AD8F;
    cursor: pointer;
}

.instruction-button-text {
    color: #F8FAFC;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}

.instruction-button:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M0.536621 3.73499V12.265L8.00062 7.99949L0.536621 3.73499ZM1.06962 4.65349L6.92562 7.99949L1.06962 11.346V4.65349Z' fill='%23F8FAFC'/%3e%3cpath d='M8 3.73499V12.265L15.464 7.99949L8 3.73499ZM8.533 4.65349L14.389 7.99949L8.533 11.346V4.65349Z' fill='%23F8FAFC'/%3e%3c/svg%3e");
    /* transform: translate(5px, 1px); */
}

.instruction-button:hover {
    background: #09a78a;
}