.nav {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    height: 93px;   
}

.nav .container {
    background-color: #F8FAFC;
    padding: 0 100px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: height 0.3s ease;
}

.header.scrolled .container{
    height: 46px; 
    z-index: 5; /* чтобы блюр первой странички не закрывал скролл хедера */
}

.nav-brand {
    left: 0;
    font-weight: 700;
    font-size: 28px;
    color: #334155;
    font-family: 'Cinzel', sans-serif;

}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    color: #334155;
    display: inline-block;
}

.menu-item {
    margin-right: 64px;
    cursor: pointer;
    transition: 0.2s ease-out;
    padding: 7px 4px 7px 13px;
}
.menu-item:last-child {
    margin-right: 0;
}

.menu-item:hover {
    border-radius: 6px;
    background: #E2E8F0;
    transform: scale(1.0);
    transition: 0.1s ease-in;
}

.menu-item:last-child {
    margin-left: 0;
}


.logo-catalog:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;   
    transform: translate(-10px, 1px);
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.96721 2.71313H17M2.5 6.50001H3.90984C5.01441 6.50001 5.90984 5.60458 5.90984 4.50001V2.54919C5.90984 1.44462 5.01441 0.549194 3.90984 0.549194H2.5C1.39543 0.549194 0.5 1.44462 0.5 2.54919V4.50001C0.5 5.60458 1.39543 6.50001 2.5 6.50001Z' stroke='%23334155' stroke-linecap='round'/%3e%3cpath d='M9.96721 10.6639H17M2.5 14.4508H3.90984C5.01441 14.4508 5.90984 13.5554 5.90984 12.4508V10.5C5.90984 9.39543 5.01441 8.5 3.90984 8.5H2.5C1.39543 8.5 0.5 9.39543 0.5 10.5V12.4508C0.5 13.5554 1.39543 14.4508 2.5 14.4508Z' stroke='%23334155' stroke-linecap='round'/%3e%3c/svg%3e ") center center/cover no-repeat;
    color: #334155;
}

.logo-mentor:before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 16px;
    transform: translate(-10px, 1px);
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3e%3cpath d='M10.4999 6.61613C11.0352 5.82688 12.8999 4.56688 14.3122 4.53918L16.7214 11.2823C15.0599 11.7115 12.1845 12.8884 10.4999 14.5223C8.81524 12.8884 5.93986 11.7115 4.27832 11.2823L6.68755 4.53918C8.09984 4.56688 9.96446 5.82688 10.4999 6.61613Z' stroke='%23334155' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14.6215 5.40466L16.4169 5.96532L18.5581 11.981C18.6633 12.2765 18.5286 12.6038 18.2459 12.7396L10.5 16.4608L2.75411 12.7396C2.4714 12.6038 2.33669 12.2766 2.44187 11.981L4.58304 5.96532L6.37845 5.40466' stroke='%23334155' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    color: #334155;
}

.logo-support:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 17px;
    transform: translate(-10px, 2px);
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='17' viewBox='0 0 18 17' fill='none'%3e%3cpath d='M9.71611 12.6466V12.6466C8.36501 10.5308 6.02797 9.25022 3.51751 9.25022H2.54784C1.69745 9.25022 1.01233 9.94757 1.02736 10.7978L1.07339 13.4008C1.1008 14.9509 2.37633 16.1931 3.92665 16.1931V16.1931C8.84084 16.1931 13.5443 14.0621 16.7663 10.3515L16.9292 10.1638C16.9628 10.1252 16.9459 10.0648 16.8973 10.0491V10.0491C15.3411 9.54687 13.6388 9.81545 12.3129 10.7724L9.71611 12.6466ZM9.71611 12.6466H4.4237M13.6463 1.49465V1.49465C13.9567 1.75932 14.1356 2.14675 14.1356 2.55469V2.65686C14.1356 3.06353 13.9821 3.45521 13.7058 3.75363L10.6946 7.00622C10.6231 7.08338 10.501 7.08291 10.4301 7.00521L7.42984 3.71417C7.18072 3.44091 7.04263 3.08447 7.04263 2.7147V2.7147C7.04263 2.21375 7.29544 1.74663 7.71484 1.47267L7.75492 1.44648C8.33606 1.06687 9.09739 1.11334 9.62804 1.56083L10.5363 2.32679C10.5514 2.33949 10.5731 2.34064 10.5894 2.3296L11.9618 1.40094C12.4805 1.04995 13.1697 1.08829 13.6463 1.49465Z' stroke='%23334155' stroke-linecap='round'/%3e%3c/svg%3e");
    color: #334155;
}

.hambuger {
    display: none;
}

@media (max-width: 1024px) {
    .menu-item {
        margin-right: 50px;
    }

    .nav-brand {
        font-size: 28px;
    }

    .menu-link {
        font-size: 13px;
    }

    .logo-catalog:before {
        transform: translate(-10px, 3px);
    }
}

@media (max-width: 869px) {
    .menu-item {
        margin-right: 30px;
    }

    .menu {
        justify-content: right;
    }

    .menu-link {
        font-size: 13px;
    }

    .logo-catalog:before {
        width: 14px;
        height: 14px;   
        transform: translate(-10px, 3px);
    }
    
    .logo-mentor:before {
        width: 19px;
        height: 16px;   
        transform: translate(-10px, 3px);
    }
    
    .logo-support:before {
        width: 16px;
        height: 17px;   
        transform: translate(-10px, 4px);
    }
}

@media (max-width: 820px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 0;
        background-color: rgba(199, 199, 199, 0.9);
        transition: 0.5s all;
    } 

    .menu-active {
        left: 0;
    }

    .logo-catalog:before {
        background: none;
        width: 0;
        height: 0;
        transform: none;
    }
    
    .logo-mentor:before {
        background: none;
        width: 0;
        height: 0;
        transform: none;
    }
    
    .logo-support:before {
        background: none;
        width: 0;
        height: 0;
        transform: none;
    }

    .menu-item {
        cursor: pointer;
        transition: none;
        margin-bottom: 50px;
    }
    
    .menu-item:hover {
        border-radius: none;
        padding: 0;
        background: none;
        transform: none;
        transition: none;
    }
    .menu li {
        margin-right: 0;
    }

    .burger-btn {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.burger-btn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: rgba(199, 199, 199, 0.9);
    height: 2px;
}

.burger-btn span {
    content: '';
    position: absolute;
    top: 9px;
    width: 20px;
    background-color: rgba(199, 199, 199, 0.9);
    height: 2px;
}

.burger-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: rgba(199, 199, 199, 0.9);
    height: 2px;
    }
}