.mentors {
    padding: 128px 100px 0;
    background-color: #F8FAFC;
}

.mentors-blocks {
    display: grid; 
    grid-template-columns: 828px 828px;
    grid-template-rows: 256px;
    column-gap: 64px;
    row-gap: 64px;
}

.mentors-block {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DFE7EF;
    border-radius: 10px;
    padding: 16px;
    background-color: #fff;
}

.mentors-title-wrapper {
    text-align: center;
    margin-bottom: 64px;
}

.mentors-title {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.half-first {
    color: #334155;
}

.half-second {
    color: #08AD8F;
}

.mentors-img {
    background: url('../../assets/mentor-ahmed.png') center center/cover no-repeat;
    width: 224px;
    height: 224px;
}

.mentor-details {
    height: 224px;
    display: flex;
}

.mentors-descr-1-column {
    display: grid; 
    grid-template-columns: 466px 74px;
    row-gap: 20px;
}

.mentors-name {
    color: #334155;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.mentors-text {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}

.mentors-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-label {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
}

.info-label-icon-1:before {
    content: '';
    display: inline-block;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cg clip-path='url(%23clip0_189_61)'%3e%3cpath d='M23.9917 10.9573L21.7239 3.11972C21.7076 3.06357 21.6688 3.01668 21.6167 2.99031C21.5644 2.96389 21.5037 2.96032 21.4489 2.98055L20.8337 3.20661L20.7355 2.88038C20.7187 2.82452 20.6795 2.77813 20.6272 2.75231C20.5749 2.72644 20.5142 2.72341 20.4596 2.74398C18.9934 3.29582 18.2771 3.47569 15.1174 3.84132C13.1265 4.07164 12.32 4.92988 11.9971 5.51864C11.6765 4.92963 10.8731 4.07164 8.88262 3.84132C5.7228 3.47569 5.00651 3.29582 3.54033 2.74398C3.48576 2.72341 3.42504 2.72644 3.37275 2.75231C3.32046 2.77813 3.28121 2.82452 3.26441 2.88038L3.16647 3.20561L2.55074 2.98045C2.49597 2.96047 2.43516 2.96404 2.38312 2.99041C2.33103 3.01683 2.29227 3.06366 2.27601 3.11972L0.00833635 10.9573C-0.0232851 11.0667 0.0377275 11.1814 0.146073 11.2164L7.14017 13.4713L4.21013 15.8275C4.16036 15.8675 4.13147 15.9279 4.13147 15.9917V17.602C4.13147 17.6867 4.18217 17.7632 4.26028 17.7961C4.3383 17.829 4.4285 17.812 4.48912 17.7529L5.79135 16.4838C5.99436 16.2867 6.31994 16.2915 6.51696 16.4945L6.76909 16.7542C6.86454 16.8525 6.91599 16.9821 6.91396 17.1192C6.91193 17.2562 6.85666 17.3842 6.75783 17.4802L4.19491 19.9845C4.15437 20.0241 4.13152 20.0785 4.13152 20.1352V22.0589C4.13152 22.1431 4.18163 22.2192 4.25885 22.2524C4.28571 22.264 4.31401 22.2696 4.34211 22.2696C4.39495 22.2696 4.44704 22.2497 4.48694 22.212L11.9962 15.1055L19.5169 22.2121C19.5568 22.2498 19.6089 22.2696 19.6617 22.2696C19.6898 22.2696 19.7182 22.2639 19.745 22.2524C19.8223 22.2191 19.8723 22.1431 19.8723 22.0589V20.1352C19.8723 20.0785 19.8494 20.0242 19.8089 19.9845L17.2454 17.4797C17.1471 17.3842 17.0918 17.2562 17.0897 17.1192C17.0877 16.9821 17.1391 16.8525 17.2346 16.7542L17.4867 16.4945C17.6838 16.2915 18.0092 16.2866 18.212 16.4834L19.5146 17.7529C19.5753 17.812 19.6655 17.829 19.7435 17.7961C19.8215 17.7632 19.8723 17.6867 19.8723 17.602V15.9917C19.8723 15.928 19.8434 15.8676 19.7938 15.8277L16.8656 13.468L23.8539 11.2164C23.9623 11.1814 24.0233 11.0667 23.9917 10.9573ZM19.3171 5.99524H21.2334L21.3527 6.39175H21.027C20.9107 6.39175 20.8164 6.48607 20.8164 6.60239C20.8164 6.71872 20.9107 6.81304 21.027 6.81304H21.4796L22.1138 8.91949H19.9862C19.8698 8.91949 19.7756 9.0138 19.7756 9.13013C19.7756 9.24646 19.8698 9.34077 19.9862 9.34077H22.2406L22.4421 10.0102C21.3526 10.4023 18.7847 11.1801 15.1304 11.3739C13.5398 11.4582 12.7175 12.0538 12.3078 12.5386C12.2717 12.5813 12.2381 12.624 12.2067 12.6663V8.44868H15.352C15.4684 8.44868 15.5627 8.35436 15.5627 8.23804C15.5627 8.12171 15.4684 8.02739 15.352 8.02739H12.2067V7.26223C12.2345 7.10601 12.5587 5.68532 15.1658 5.38368C18.2153 5.03084 19.3141 4.73747 20.7004 4.22523L21.1065 5.57395H19.3171C19.2007 5.57395 19.1064 5.66827 19.1064 5.7846C19.1065 5.90092 19.2008 5.99524 19.3171 5.99524ZM1.6475 9.7125H2.96118C3.07755 9.7125 3.17182 9.61818 3.17182 9.50186C3.17182 9.38553 3.07755 9.29121 2.96118 9.29121H1.77433L2.13991 8.07691H5.21631C5.33269 8.07691 5.42696 7.98259 5.42696 7.86626C5.42696 7.74994 5.33269 7.65562 5.21631 7.65562H2.26679L2.51302 6.83782H3.65511C3.77149 6.83782 3.86576 6.7435 3.86576 6.62718C3.86576 6.51085 3.77149 6.41653 3.65511 6.41653H2.63981L3.30852 4.19545C4.77133 4.73747 5.88522 5.04243 8.83424 5.38368C11.4482 5.68616 11.7601 7.11374 11.7854 7.26154V9.68777H11.04C10.9236 9.68777 10.8294 9.78209 10.8294 9.89841C10.8294 10.0147 10.9236 10.1091 11.04 10.1091H11.7854V10.3817H10.0983C9.98193 10.3817 9.88767 10.476 9.88767 10.5923C9.88767 10.7086 9.98193 10.8029 10.0983 10.8029H11.7854V12.6619C11.7552 12.6211 11.7231 12.5801 11.6886 12.539C11.2806 12.0541 10.4604 11.4583 8.86958 11.3739C5.21522 11.1801 2.64734 10.4024 1.55789 10.0102L1.6475 9.7125ZM15.1658 4.25973C18.2186 3.90649 19.0275 3.72266 20.3969 3.21696L20.5787 3.82099C19.1848 4.33779 18.1552 4.61361 15.1174 4.96512C13.4642 5.15638 12.6278 5.78063 12.2066 6.324V6.13823C12.2348 5.98092 12.5599 4.56127 15.1658 4.25973ZM3.60312 3.21701C4.97256 3.72271 5.78144 3.90654 8.83429 4.25978C11.4483 4.56222 11.7602 5.98984 11.7854 6.13764V6.31959C11.3653 5.77716 10.5311 5.15589 8.88272 4.96517C5.94732 4.62551 4.90317 4.33863 3.43024 3.79126L3.60312 3.21701ZM2.61805 3.45363L3.04484 3.60971L1.09729 10.0786C1.06533 10.1847 1.12104 10.2974 1.22477 10.3365C2.20459 10.7053 4.90872 11.5857 8.84733 11.7946C11.4741 11.9339 11.7634 13.5073 11.7854 13.6617V14.5263L0.469871 10.8781L2.61805 3.45363ZM4.55281 20.2238L7.0518 17.7819C7.23087 17.6081 7.33153 17.375 7.33525 17.1254C7.33897 16.8759 7.24524 16.6398 7.07147 16.4607L6.81934 16.201C6.46055 15.8313 5.86782 15.8225 5.49773 16.1817L4.55286 17.1026V16.0926L7.62014 13.626L8.49399 13.9077L7.52096 14.8791C7.43864 14.9613 7.43854 15.0946 7.52071 15.177C7.56185 15.2182 7.61583 15.2388 7.6698 15.2388C7.72363 15.2388 7.7775 15.2183 7.81864 15.1772L8.94477 14.053L10.103 14.4264L7.97923 16.552C7.89705 16.6343 7.8971 16.7677 7.97937 16.8499C8.02051 16.891 8.07439 16.9115 8.12826 16.9115C8.18219 16.9115 8.23616 16.891 8.2773 16.8498L10.5534 14.5716L11.5932 14.9069L4.55281 21.5696V20.2238ZM19.4509 16.0924V17.1026L18.5057 16.1814C18.136 15.8225 17.5433 15.8313 17.1844 16.2009L16.9323 16.4607C16.7584 16.6397 16.6647 16.8758 16.6685 17.1254C16.6722 17.3749 16.7729 17.6081 16.9514 17.7814L19.451 20.2238V21.57L12.3994 14.9069L13.6933 14.49L15.0172 15.814C15.0583 15.8551 15.1122 15.8757 15.1662 15.8757C15.2201 15.8757 15.274 15.8551 15.3151 15.814C15.3974 15.7317 15.3974 15.5983 15.3151 15.516L14.1439 14.3448L16.3858 13.6225L19.4509 16.0924ZM12.2067 14.5263V13.6622C12.2299 13.5046 12.5281 11.9337 15.1527 11.7945C19.0912 11.5857 21.7954 10.7053 22.7753 10.3365C22.879 10.2974 22.9347 10.1847 22.9028 10.0786L20.9554 3.6107L21.382 3.45393L23.5301 10.878L12.2067 14.5263Z' fill='%23334155'/%3e%3cpath d='M7.34758 6.4165H5.68721C5.57083 6.4165 5.47656 6.51082 5.47656 6.62715C5.47656 6.74347 5.57083 6.83779 5.68721 6.83779H7.34758C7.46396 6.83779 7.55823 6.74347 7.55823 6.62715C7.55823 6.51082 7.46396 6.4165 7.34758 6.4165Z' fill='%23334155'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_189_61'%3e%3crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    width: 24px;
    height: 24px;
    transform: translate(-8px, 5px);
}

.info-label-icon-2:before {
    content: '';
    display: inline-block;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M23 12.5C23 18.5751 18.0751 23.5 12 23.5C5.92487 23.5 1 18.5751 1 12.5C1 6.42487 5.92487 1.5 12 1.5C18.0751 1.5 23 6.42487 23 12.5ZM3.00683 12.5C3.00683 17.4668 7.03321 21.4932 12 21.4932C16.9668 21.4932 20.9932 17.4668 20.9932 12.5C20.9932 7.53321 16.9668 3.50683 12 3.50683C7.03321 3.50683 3.00683 7.53321 3.00683 12.5Z' fill='%23334155'/%3e%3cpath d='M12 5.5C11.4477 5.5 11 5.94771 11 6.5V12.9667C11 12.9667 11 13.2274 11.1267 13.4235C11.2115 13.5898 11.3437 13.7343 11.5174 13.8346L16.1372 16.5019C16.6155 16.778 17.2271 16.6141 17.5032 16.1358C17.7793 15.6575 17.6155 15.0459 17.1372 14.7698L13 12.3812V6.5C13 5.94772 12.5523 5.5 12 5.5Z' fill='%23334155'/%3e%3c/svg%3e");
    width: 24px;
    height: 24px;
    transform: translate(-8px, 5px);
}

.info-value {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
}

.info-price-wrapper {
    margin-top: 20px;
}

.info-price {
    color: #334155;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
}

.mentors-tags {
    display: grid;
    grid-template-columns: 74px;
    row-gap: 8px;
}

.mentors-tag-button {
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 8px;
    border: 1px solid #08AD8F;
    background-color: #fff;
    cursor: pointer;
}

.mentors-tag-button:hover {
    background-color: #e8e8e8;
}