.mentors {
    padding: 128px 100px 0;
    background-color: #F8FAFC;
}

.mentors-block {
    display: flex;
    justify-content: space-between;
    border: 1px solid #DFE7EF;
    border-radius: 10px;
    padding: 24px;
    width: 750px;
    margin-top: 64px;
    background-color: #fff;
}

.mentors-title-wrapper {
    text-align: center;
}

.mentors-title {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.half-first {
    color: #334155;
}

.half-second {
    color: #08AD8F;
}

.mentors-img {
    background: url('../../assets/mentor-ahmed.png') center center/cover no-repeat;
    width: 224px;
    height: 224px;
}

.mentor-details {
    height: inherit;
    display: flex;
    margin-left: 16px;
}

.mentors-name {
    color: #334155;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
}

.mentors-text {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}

.mentors-info {
    display: flex; 
    justify-content: space-between;
}

.info-item {
    display: flex;
    align-items: baseline;
    margin-top: 18px;
}

.info-label {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    margin-right: 5px;
}

.info-label-icon-1:before {
    content: '';
    display: inline-block;
    transform: translate(-4px, 5px);
    background: url('../../assets/mentors-lessons.png');
    width: 24px;
    height: 24px;
}

.info-label-icon-2:before {
    content: '';
    display: inline-block;
    transform: translate(-4px, 5px);
    background: url('../../assets/mentors-experience.png');
    width: 24px;
    height: 24px;
}

.info-value {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
}

.info-price {
    color: #334155;
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
}

.mentors-tags {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.mentors-tag-button {
    margin-top: 8px;
    display: flex;
    padding: 7px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #08AD8F;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3 ease;
}

.mentors-tag-button:first-child {
    margin-top: 0;
}

.mentors-tag-button:hover {
    background-color: #e8e8e8;
}

.mentors-descr-1-column {
    display: flex;
    justify-content: space-between;
}