.review {
    padding: 128px 100px 100px;
    background-color: #F8FAFC;
    min-height: 977px;
}

.review-blocks {
    display: grid;
    grid-template-columns: 1720px;
    grid-template-rows: 124px;
    row-gap: 32px;
}

.review-block {
    border: 1px solid #DFE7EF;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.08), 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.review-title-wrapper {
    text-align: center;
    margin-bottom: 74px;
}

.review-block-wrapper {
    padding: 16px;
}

.review-user-wrapper {
    display: flex;
    align-items: center;
}

.review-user {
    margin-right: 16px;
    color: #334155;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
}

.review-user-mentor {
    color: #08AD8F;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
}

.review-text {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.review-date {
    color: #334155;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
}