.footer-sub {
    font-family: 'Manrope', sans-serif;
    background-color: rgb(251, 251, 251);
}

.footer-wrapper {
    padding: 32px 100px ;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    list-style-type: none;
    padding-bottom: 22px;
    cursor: pointer;
}

.footer-item:last-child {
    padding-bottom: 22px;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    color: #334155;
}

.footer-brand {
    color: #334155;
    font-family: Cinzel;
    font-size: 28px;
    font-weight: 700;
}

.coran-info {
    padding-top: 32px;
    font-size: 16px;
    color: #334155;
}

.footer-long-link {
    display: inline-block;
}

@media (max-width: 1024px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .footer-block {
        margin-top: 30px;
    }
    .footer-block:first-child {
        margin-top: 0;
    }
}