@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel/Cinzel-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel/Cinzel-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope/Manrope-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope/Manrope-Bold.ttf') format('truetype');
}