.study {
    padding: 128px 100px 0;
    min-height: 780px;
    background-color: #F8FAFC;
}

.study-blocks {
    display: grid;
    grid-template-columns: 530px 530px 530px;
    column-gap: 64px;
    row-gap: 64px;
}

.study-block {
    background-color: #fff;
    border: 1px solid #DFE7EF;
    border-radius: 8px;
}

.study-block-wrapper {
    display: flex;
    padding: 8px 10px;
}

.study-number-wrapper {
    display: flex;
    flex-direction: column;
}

.study-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #08AD8F;
    font-family: Manrope;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 16px;
}

.study-label {
    color: #334155;
    font-family: Manrope;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.study-text {
    color: #334155;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}








